.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.header-title {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  font-size: 3vw;
}

select {
  width: 100%;
  height: 3vw;
  padding: 8px 12px;
  border: none;
  border-radius: 60px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 20px;
}

select:focus {
  outline: none;
}

button {
  height: 3vw;
  padding: 0 16px;
  border: none;
  border-radius: 60px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 75px;
  position: relative;
}

.menu-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  padding: 10px;
  width: 100px;
  padding: 20px;
}


.navbar.show-dropdown .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  height: auto;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.dropdown-menu li.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -5px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.dropdown-menu li.list-item:hover::before {
  transform: scaleX(1);
}

.dropdown-menu li.list-item {
  position: relative;
  list-style-type: none;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.right-menu {
  padding: 20px;
  cursor: pointer;
  color: white;
}

.graph-background {
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.graph {
  width: 100vw;
  height: 50vh;
}


.db-response {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.db-response > * + * {
  margin-left: 10px;
}

.temp {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 30px;
}

@media only screen and (max-width: 600px){
  select {
    height: 6vw;
    font-size: 14px;
  }

  button {
    height: 6vw;
    align-items: center;
    margin-bottom: 2px;
  }
}